:root {
  /*** Colors ***/
  --color-primary: #212121;
  --color-secondary: #757575;
  --color-background: #ffffff;
  --color-accent: #2196f3;
  --color-button-active: #188ce8;
  --color-button-background: #F5F4FA;
  --color-hero: #2f303a;
  --color-black: #000000;
  --color-footer-translucent: rgba(255, 255, 255, 0.6);

  /*** Fonts ***/

  /* letter-spacings */
  --font-letter-spacing-002: 0.02em;
  --font-letter-spacing-003: 0.03em;
  --font-letter-spacing-006: 0.06em;

  /* H1 */
  --font-h1-size: 44px;
  --font-h1-height: 60px;
  /* H2 */
  --font-h2-size: 36px;
  --font-h2-height: 42px;
  /* H3 */
  --font-h3-size: 14px;
  --font-h3-height: 16px;
  /* logo */
  --font-logo-size: 26px;
  --font-logo-height: 31px;
  /* button */
  --font-button-size: 16px;
  --font-button-height: 30px;
  /* advantages-text */
  --font-advantages-text-size: 14px;
  --font-advantages-text-height: 24px;
  /* team */
  --font-team-text-size: 16px;
  --font-team-height: 19px;
  --font-team-letter-spacing: 0.03em;
  /* Portfolio */
  /* portfolio-title */
  --font-portfolio-title-text-size: 18px;
  --font-portfolio-title-height: 36px;
  /* portfolio-type */
  --font-portfolio-type-text-size: 16px;
  --font-portfolio-type-height: 30px;
  /* portfolio-filter-button */
  --font-portfolio-filter-button-size: 16px;
  --font-portfolio-filter-button-height: 26px;

  /*** Margins ***/
  --margin-to-main-content-200: 200px;
  --margin-94: 94px;
  --margin-50: 50px;
  --margin-30: 30px;

  /*** Paddings ***/
  --padding-main-content: 200px;
  --padding-gutter-horizontal-elements: 15px;
  --padding-vertical-sections: 94px;
  --padding-50: 50px;
  --padding-30: 30px;
  --padding-10: 10px;
  --padding-hero-button: 10px 32px;
  --padding-button: 6px 22px;

  /*** Widths & heights ***/
  --total-page-width: 1600px;
  --width-h1: 700px;
  --header-height: 80px;
  --footer-height: 252px;
}

body {
  background-color: var(--color-background);
  font-family: 'Roboto', sans-serif;
  width: var(--total-page-width);
  margin: auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/*! Header !*/
.header {
  height: var(--header-height);
  margin: 0 var(--margin-to-main-content-200);
  padding: 0 var(--padding-gutter-horizontal-elements);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

/** Logo **/
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;

  font-size: var(--font-logo-size);
  line-height: var(--font-logo-height);
  letter-spacing: var(--font-letter-spacing-003);

  display: flex;
  flex-direction: row;
  align-items: center;

  padding: 0;

  color: var(--color-accent);
}

.logo-header {
  color: var(--color-black);
}

.logo-footer {
  color: var(--color-background);
}

/** Navigation **/
.navigation {
  display: flex;
  margin: 0;
}

.navigation-items {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}

.navigation-item {
  color: var(--color-primary);

  font-weight: 500;
  font-size: var(--font-h3-size);
  line-height: var(--font-h3-height);
  letter-spacing: var(--font-letter-spacing-002);

  padding-left: var(--padding-50);
}

.navigation-item:focus,
.navigation-item:hover {
  color: var(--color-accent);
  cursor: pointer;
}

.link.current {
  color: var(--color-accent);
}

/** Contact **/
.contact {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.contact-item {
  color: var(--color-secondary);

  margin-left: var(--margin-50);
}

.contact-item:hover {
  color: var(--color-accent);
}

/*! Hero section !*/
.hero-section {
  background-color: var(--color-hero);
  color: var(--color-background);

  font-weight: 900;
  font-size: var(--font-h1-size);
  line-height: var(--font-h1-height);
}

.hero-content {
  padding: var(--padding-main-content);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-title {
  font-size: var(--font-h1-size);
  line-height: var(--font-h1-height);

  text-transform: uppercase;
  text-align: center;

  width: var(--width-h1);

  margin: auto;
  margin-bottom: 30px;
}

.hero-button {
  background-color: var(--color-accent);
  color: var(--color-background);

  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  font-weight: 700;
  font-size: var(--font-button-size);
  line-height: var(--font-button-height);

  padding: var(--padding-hero-button);
  /* shrinks button to it's own size  */
  margin: auto;
}
.hero-button:focus,
.hero-button:hover {
  background-color: var(--color-button-active);
  color: var(--color-background);
}

.hero-button:hover {
  cursor: pointer;
}

/*! Our Advantages !*/
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.advantages {
  margin: auto;
  margin-top: 94px;
}

.advantages-list {
  margin: var(--padding-vertical-sections) var(--margin-to-main-content-200);
  padding: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.advantages-item {
  padding: 0;
}

.advantages-title {
  font-weight: 700;
  font-size: var(--font-advantages-text-size);
  line-height: var(--font-advantages-text-height);
  letter-spacing: var(--font-letter-spacing-003);
  text-transform: uppercase;

  margin: 0;
}

.advantages-text {
  color: var(--color-secondary);

  font-weight: 400;
  font-size: var(--font-advantages-text-size);
  line-height: var(--font-advantages-text-height);
  letter-spacing: var(--font-letter-spacing-003);

  inline-size: 270px;

  margin: 0px;
  margin-top: 10px;
}

/*! Working !*/
.working {
  margin-top: 94px;
  margin-bottom: 94px;
}

.working-title {
  color: var(--color-primary);

  font-weight: 700;
  font-size: var(--font-h2-size);
  line-height: var(--font-h2-height);
  letter-spacing: var(--font-letter-spacing-003);

  text-align: center;

  margin: 0;
  padding: 0;
}

.working-list {
  margin: var(--padding-50) var(--margin-to-main-content-200);
  padding: 0;
  display: flex;
}

.working-list-item {
  padding: 0 var(--padding-gutter-horizontal-elements);
}

/*! Team !*/
.team {
  margin-top: 94px;
  margin-bottom: 94px;
  padding-top: 94px;
}

.team-title {
  color: var(--color-primary);

  font-weight: 700;
  font-size: var(--font-h2-size);
  line-height: var(--font-h2-height);
  letter-spacing: var(--font-letter-spacing-003);

  text-align: center;

  margin: 0;
  padding: 0;
}

.team-list {
  margin: var(--padding-50) var(--margin-to-main-content-200);
  padding: 0;
  display: flex;
}

.team-list-item {
  padding: 0 var(--padding-gutter-horizontal-elements);
}

.team-details {
  padding: var(--padding-30);
}

.team-name {
  color: var(--color-primary);

  font-weight: 700;
  font-size: var(--font-team-text-size);
  line-height: var(--font-team-height);
  letter-spacing: var(--font-letter-spacing-003);

  text-align: center;

  padding-bottom: var(--padding-10);
  margin: 0;
}

.team-position {
  color: var(--color-secondary);

  font-weight: 400;
  font-size: var(--font-team-text-size);
  line-height: var(--font-team-height);
  letter-spacing: var(--font-letter-spacing-003);

  text-align: center;

  margin: 0;
}

/*! Footer !*/
.footer {
  background-color: var(--color-hero);
  color: var(--color-background);
  height: var(--footer-height);
  display: flex;
}

.footer-list {
  margin: 0 var(--margin-to-main-content-200);
  padding: 0 var(--padding-gutter-horizontal-elements);

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.footer-list-item {
  padding-top: 20px;
}

.address {
  font-weight: 400;
  font-size: var(--font-advantages-text-size);
  line-height: var(--font-advantages-text-height);
  letter-spacing: var(--font-letter-spacing-003);
  font-style: normal;
  text-align: left;
}

.address-list {
  display: flex;
  flex-direction: column;

  margin: 0;
  padding: 0px;
  padding-top: 20px;
}

.address-list-item {
  color: var(--color-footer-translucent);
  padding-bottom: 9px;
}

.address-list-item.white {
  color: var(--color-background);
}

.address-list-item:focus,
.address-list-item:hover {
  color: var(--color-accent);
  cursor: pointer;
}


/*! Portfolio !*/
.portfolio {
  padding: var(--padding-vertical-sections) var(--padding-main-content);
}

.portfolio-filters {
  display: flex;
  justify-content: center;

  margin: 0px;
  padding: 0;
  padding-bottom: var(--padding-50);
}

.portfolio-filter-button {
  background-color: var(--color-button-background);
  color: var(--color-primary);

  font-family: inherit;
  font-weight: 500;
  font-size: var(--font-portfolio-filter-button-size);
  line-height: var(--font-portfolio-filter-button-height);
  letter-spacing: var(--font-letter-spacing-003);
  text-align: center;

  border: none;
  border-radius: 4px;

  margin: 0 4px;
  padding: var(--padding-button);
}

.portfolio-filter-button:focus,
.portfolio-filter-button:hover {
  background-color: var(--color-button-active);
  color: var(--color-background);

  /* shadow-middle */
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;

  cursor: pointer;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;

  padding: 0px;
  margin: 0px;
}

.portfolio-list-item {
  padding: var(--padding-gutter-horizontal-elements);
}

.portfolio-list-item-text {
  margin: 0px;
  padding: 20px 24px;

  display: flex;
  flex-direction: column;
}

.portfolio-list-item-title,
.portfolio-list-item-type {
  margin: 0px;
}

.portfolio-list-item-title {
  font-weight: 700;
  font-size: var(--font-portfolio-title-text-size);
  line-height: var(--font-portfolio-title-height);
  letter-spacing: var(--font-letter-spacing-003);
}

.portfolio-list-item-type {
  color: var(--color-secondary);

  font-weight: 400;
  font-size: var(--font-portfolio-type-text-size);
  line-height: var(--font-portfolio-type-height);
  letter-spacing: var(--font-letter-spacing-006);
}
